{% extends "../base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in task_list %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{% if not task.is_completed %}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True"/>
                                        <button>Complete</button>
                                    </form>
                                {% else %}
                                    Done
                                    </td>
                                {% endif %}
                                </tr>
                            </tbody>
                    {% endfor %}
            {% endif %}
        </table>
    </div>
    </main>
{% endblock content %}
