{% extends "../base.html" %}


{% block content %}
    <main>
        <div>

            <h1> {{ project.name }} </h1>
            {% load markdownify %}
            <p> {{ project.description|markdownify }} </p>

            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for task in project.tasks.all %}
                        <tbody>
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:'m-d-Y' }}</td>
                                <td>{{ task.due_date|date:'m-d-Y' }}</td>
                                {% if task.is_completed == False %}
                                    <td>no</td>
                                {% else %}
                                    <td>yes</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}

                </table>
            {% else %}
                <p>"This project has no tasks"</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
